---
---

.line {
  margin-left: auto;
  margin-right: auto;
  height: 8px;
  border-radius: 8px;
  width: 95vw;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 40%, rgba(255, 0, 193, 1) 100%);
}

.description {
  h1 {
     text-align: center;
     color: white;
  }

  p {
     text-align: center;
     color: #919191;
  }
}
