---
---

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  background: #2c302d;
}
.container {
  position:absolute;
  width:100%;
  height:450vh;
  background: #1b1c1b;
  z-index: 5;
  padding-top: 26vh;
  
}
.card {
  width: 60%;
  height: 90%;
  max-height: 320px;
  padding: auto;
  text-align: center;
  background: #242625;
  border-radius: 10px;
  box-shadow: 25px 25px 50px #141414, -25px -25px 50px #2d302f;
  &__container {
    display: grid;
    width:100%;
    height:100%;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    color: white;
  }
  &__content {
    width: 90%;
    height: 95%;
    background: #191a19;
    margin: 10px auto;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
box-shadow:  16px 16px 44px #0a0a0a, 
             -16px -16px 44px #282a28;
    transition: 0.3s all ease-in-out;
    &:hover{
      margin-top:-10px;
    }
  }
  &__header {
    text-transform: uppercase;
    font-size: 20px;
    margin: 40px auto;
  }
  &__button {
    padding: 10px;
    border-radius: 50px;
    background: #1f75c4;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin: 50px auto;
    &:hover {
      background: #4483bd;
    }
  }
}
