@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: black;
}

.banner {
  width: 100vw;
  left: 0;
  position: absolute;
}
