---
---

@import url('https://fonts.googleapis.com/css?family=Raleway');

$win-width: 100vw;
$win-height: 100vh;

@mixin animate($animation,$duration,$method,$times){
    animation: $animation $duration $method $times;
}

@mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    }
}

* {
	font-family: Raleway;
}
html {
	background-color: #42455a;
}
.banner {
	width: 80%;
	height: 70%;
	padding-top: 25vh;
	padding-left: 15vw;
	position: relative;
	color: #fff;
}
.app-text {
	width: 50vw;
	float: left;
	h1 {
		font-size: 4vw;
		width: 75vw;
		position: relative;
		margin-left: 40px;
	}
	p {
		width: 75vw;
		font-size: 2vw;
		margin: 30px 0 30px 40px;
		line-height: 25px;
		color: #919191;
	}
}
.app-picture {
	width: 50%;
	float: right;
	img {
		width: 75%;
		padding-top: 15vh;
		padding-left: 100px;
	}
}
section {
	height: 100vh;
	scroll-snap-align: start;
}
.container {
	width: 100vw;
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}
.cover {
	position:fixed;
	height:100vh;
	width:100vw;
	top:0;
	left: -100vw;
	z-index: 1000;
}

.transition.slide .cover1 {
	background-color: black;
	@include keyframes(slide){
		0% {
		left: -100vw;
	}
	100% {
		left: 0;
	}
    }
  @include animate(slide, 0.3s, ease-in-out, forwards);
}

.transition.slide .cover2 {
	background-color: #2e5090;
	@include keyframes(slide){
		0% {
		left: -100vw;
	}
	100% {
		left: 0;
	}
    }
  @include animate(slide, 0.3s, ease-in-out, forwards);
	animation-delay: 0.3s;
}

.transition.slide .cover3 {
	background-color: purple;
	@include keyframes(slide){
		0% {
		left: -100vw;
	}
	100% {
		left: 0;
	}
    }
  @include animate(slide, 0.3s, ease-in-out, forwards);
	animation-delay: 0.6s;
}

.center {
	display: flex;
	justify-content: center;
}

@media only screen and (max-width: 774px) {
  section {
	height: 100vh;
	scroll-snap-align: start;
	&:nth-of-type(2) {
		height: 201vh;
	}
   }
	.app-picture {
	width: 70%;
	float: right;
	img {
		width: 75%;
		padding-top: 15vh;
		padding-left: 100px;
	}
}
}
@media only screen and (max-width: 529px) {
  section {
	height: 100vh;
	scroll-snap-align: start;
	&:nth-of-type(2) {
		height: 325vh;
	}
   }
	.app-picture {
	width: 80%;
	float: right;
	img {
		width: 75%;
		padding-top: 15vh;
		padding-left: 100px;
	}
}
}
