---
---

@import url('https://fonts.googleapis.com/css?family=Raleway');

$win-width: 100vw;
$win-height: 100vh;

* {
	font-family: Raleway;
}
html {
	background-color: #42455a;
}
.banner {
	width: 80%;
	height: 70%;
	padding-top: 25vh;
	padding-left: 15vw;
	position: relative;
	color: #fff;
}
.app-text {
	width: 50vw;
	float: left;
	h1 {
		font-size: 4vw;
		width: 75vw;
		position: relative;
		margin-left: 40px;
	}
	p {
		width: 75vw;
		font-size: 2vw;
		margin: 30px 0 30px 40px;
		line-height: 25px;
		color: #919191;
	}
}
.app-picture {
	width: 50%;
	float: right;
	img {
		width: 75%;
		padding-top: 15vh;
		padding-left: 100px;
	}
}
section {
	height: 100vh;
	scroll-snap-align: start;
	&:nth-of-type(2) { 
		display: flex;
		justify-content: center;
	}
	
}
.container {
	width: 100vw;
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

