---
---

@import "main.css";

    }
    50% {
      width: 0px;
    }
    0% {
      width: 360px;
    }
  }
  @include animate(slide-in, 0.5s, ease-in, 1);
}

.slide-out {
  @include keyframes(slide-out) {
    0% {
      width: 0px;
    }
    100% {
      width: 360px;
    }
  }
  @include animate(slide-out, 0.5s, ease-in, 1);
}

.maximize-slide {
  @include keyframes(maximize-out) {
    0% {
      width: 0px;
    }
    100% {
      width: 50px;
    }
  }
  @include animate(maximize-out, 0.05s, ease-in, 1);
}
