@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
  display: flex;
  justify-conent: center;
}

a.logo {
  margin-left: 10px;
  font-size: 30px;
}

a.end {
  font-size: 22px;
  margin-right: 20px;
}

a.small {
  padding: 16px 10px 10px 10px;
  text-decoration: none;
}

a {
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  color: white;
  font-size: 16px;
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 80px;
  position: absolute;
  border-bottom: 2px solid white;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 999999;
}

navleft {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin: 0;
}

navright {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin: 0;
}
