---
---

@import "main.css";

@mixin animate($animation,$duration,$method,$times){
    animation: $animation $duration $method $times;
}

@mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    }
}

nav {
	margin: 27px auto 0;
	z-index: 999999;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 20px;
	text-align: center;
	width: 310px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
	a {
		line-height: 50px;
		height: 100%;
		font-size: 15px;
		display: inline-block;
		position: relative;
		z-index: 1;
		text-decoration: none;
		text-transform: uppercase;
		text-align: center;
		color: white;
		cursor: pointer;
		&:nth-child(1) {
			width: 100px;
		}
		&:nth-child(2) {
			width: 110px;
		}
		&:nth-child(3) {
			width: 100px;
		}
	}
	.animation {
		position: absolute;
		height: 100%;
		top: 0;
		z-index: 0;
		transition: all .5s ease 0s;
		border-radius: 8px;
	}
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #3498db;
}
