---
---

.moon-container {
        position: absolute;
        left: 20%;
        top:20%;
        overflow: hidden;
        .circle {
                height: 120px;
                width: 120px;
                border-radius: 100px;
                background-color: #e8e8cf;
                z-index: 1;
        }
        .cutout {
                height: 110px;
                width: 110px;
                border-radius: 100px;
                left: 65%;
                z-index: 2;
                position: absolute;
        }
}
