---
---

//moon
.2_7 {
        overflow:hidden;
}
.e2_7 {
        width:240px;
        height:200px;
        position:absolute;
        x-index: 5;
        left: 20%;
        top: 30%;
}
.e2_6 {
        width:200px;
        height:200px;
        position:absolute;
        left:0px;
        top:0px;
}
.e2_3 {
        background-color:rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
        width:200px;
        height:200px;
        position:absolute;
        left:0px;
        top:0px;
        border-radius:2px;
}
.e2_4 {
        border-radius:500px;
        background-color:rgba(70.00000342726707, 70.00000342726707, 70.00000342726707, 1);
        width:195px;
        height:174px;
        position:absolute;
        left:45px;
        top:6px;
}
//moon end
